.about {
    background-color: #f8f8f8;
    margin: auto;
    padding: 4rem 1rem 0 1rem;
    width: 100%;
}


.about .container {
    width: 1240px;
    padding: 2.5rem 0 2rem 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-shadow: 17px 6px 206px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 6px 206px -40px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 60px -40px rgba(0,0,0,0.75);
}

.about .container img{
    width: 16em;
    margin-left: 25%;
    margin-top: 5%;
    border-radius:50px;

}



.about h2 {
    font-size: 2.5rem;
    
}

.about span {
    background-color: red;
    width: 3em;
}
.about .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    padding: 2rem;
}

.about .col-2 p {
    margin: 2rem 0;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 600;
}

.about .col-2 .valores{
    margin: 0;
}
.about .col-2 .valores li{
    margin-bottom: 1rem;

}


.about button {
    margin-top: 1rem;
}

@media screen and (max-width:940px) {
    .about .container {
        grid-template-columns: 1fr;
    }

    .about .container {
        width: 100%;
    }

    .about .container img {
        padding: 0rem;
        width: 90vw;
    }

    .about .container .col-2 {
        padding: 0;
    }

    .about button {
        margin-bottom: 1rem;
    }
}









