.formulario{
    width: 100%;
    height: 55vw;
    margin-top: 2%;
    padding-top: 3%;
    background-color: #8d0505;
}

.form {
    width: 1024px;
    height: 49vw;
    background: #000000;
    margin-left: 5%;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

.informacion{
    width: 500px;
    height: 49vw;
    background: #000000;
    margin-left: 68%;
    margin-top: -49.5%;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 10px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
    
}

.informacion .imglogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion .imglogo img{
    margin-top: 10%;
    width: 70%;
}

.informacion h1{
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}

.informacion .info{
    margin-top: 10%;
}



.informacion .info h3{
    color: #fff;
    margin-top: 5%;
    font-weight: bold;
}

.informacion .info p{
    color: #fff;
}



.form h1 {
    margin-top: 5%;
    padding-bottom: 20px;
    margin-left: 5%;
    width: 90%;
    text-align: center;
    color: #ffffff;
    border-bottom: 3px solid #fc0000;
    border-radius: 20px;
}

.formcontainer input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    transition: all .3s;
    border-bottom: 2px solid #ffffff;
}

.formcontainer input:focus, input:hover {
    border-bottom: 2px solid #ff0000
}

.formcontainer textarea{
    width: 100%;
    padding: 7px;
    font-size: 20px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    transition: all .3s;
    border-bottom: 2px solid #ffffff;
}
.formcontainer textarea:hover, textarea:focus{
    border-bottom: 2px solid #ff0000
}

.formcontainer p{
    color: #fff;
}

.formcontainer p:before {
    content: attr(type);
    display: block;
    margin: 50px 0 0;
    font-size: 14px;
}

.formcontainer button {
    float: right;
    padding: 20px 30px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #ff0000;
    background: #ff0000c2;
    color: #ffffff;
    cursor: pointer;
    border-radius: 8px;

}

.formcontainer button:hover {
    background-color: #b43939e6;
    color: rgb(255, 255, 255);
    transition: all .2s;
    border: 2px solid #d30404;
}

.datos {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #e6ca2e;
    color: rgb(0, 0, 0);
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}












